<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        * { font-family:Arial; }
        h2 { padding:0 0 5px 5px; }
        h2 a { color: #224f99; }
        a { color:#999; text-decoration: none; }
        a:hover { color:#802727; }
        p { padding:0 0 5px 0; }

        input { padding:5px; border:1px solid #999; border-radius:4px; -moz-border-radius:4px; -web-kit-border-radius:4px; -khtml-border-radius:4px; }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Create User</title>

</head>
<body>
<h1 style="text-align: center">CREATE USER</h1>

    <form action="#" th:action="@{/user/addUser}" th:object="${user}" method="post" name="myForm"  onsubmit = "return(validate());">
        <div class="mb-3">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" class="form-control" id="nama" name="nama" placeholder="Nama" th:field="*{name}" >
        </div>
        <div class="mb-3">
            <label for="hp" class="form-label">Hp</label>
            <input type="number" class="form-control" id="hp" name="hp" placeholder="Hp" th:field="*{hp}">

        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email"  name="email" th:field="*{email}">
        </div>
        <div class="mb-3">
            <div class="row g-3"  >
<!--                <label for="alamat" class="form-label">Alamat</label>-->
                <h2><a href="#" id="addScnt">Tambah alamat</a></h2>
                <div id="p_scents" >
                    <p>
                        <label for="p_scnt"><input type="text" th:field="*{alamat}" id="p_scnt" size="20" name="p_scnt" value="" placeholder="Alamat" /></label>
                    </p>
                </div>


                <!--                <input type="text" class="form-control" id="alamat" placeholder="Alamat"  name="alamat" th:field="*{alamat}">-->
            </div>

        </div>

        <input type="submit" class="btn-check" name="create" id="create" autocomplete="off">
        <label class="btn btn-outline-primary" for="create">CREATE</label>

        <input type="radio" class="btn-check" name="back" id="back" autocomplete="off">
        <label class="btn btn-outline-primary" for="back"><a href="/user">BACK</a></label>
    </form>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

<script type="application/javascript" src="" th:src="@{/js/user.js}"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
-->
</body>
</html>